<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Privacy Policy</h2>

      <p>
        Welcome to Adfluence AI! At Adfluence AI, we respect and protect the
        privacy of our users. This Privacy Policy explains how we collect, use,
        and safeguard your personal information when you use our services.
      </p>

      <h4>Information We Collect</h4>
      <p>We collect the following information:</p>

      <ul>
        <li>User Gmail address</li>
        <li>First name</li>
        <li>Last name</li>
        <li>History of conversations</li>
      </ul>
      <p></p>

      <h4>How We Use Your Information</h4>
      <p>
        We use the collected information to provide and improve our services.
        Your information is used to personalize your experience, communicate
        with you, and analyze usage patterns.
      </p>

      <h4>Security</h4>
      <p>
        We prioritize the security of your personal information. We implement
        industry-standard security measures to protect your data from
        unauthorized access, disclosure, or alteration.
      </p>

      <h4>Changes to This Privacy Policy</h4>
      <p>
        We may update our Privacy Policy from time to time. Any changes will be
        posted on this page, and we encourage you to review this Privacy Policy
        periodically.
      </p>

      <p>
        If you have any questions or concerns about our Privacy Policy, please
        contact us at
        <a href="mailto:jmorin799@gmail.com">jmorin799@gmail.com</a>.
      </p>
    </div>
  </div>
</div>
