<main class="d-flex ps-3 align-items-center text-center main-element">
  <div class="background-box">
    <div class="chat-box">
      <div class="initial-title">
        <h1>Need advice?</h1>
        <p class="lead">
          Speak with our adfluence AI to seek advice on a whole variety of
          topics
        </p>
      </div>
      <div class="chat-messages"></div>
    </div>
    <div class="button-group">
      <button
        style="margin: 10px"
        type="button"
        class="btn btn-outline-primary start-button"
      >
        Start
      </button>
      <button style="margin: 10px" type="button" class="btn btn-outline-danger">
        Stop
      </button>
    </div>
  </div>
</main>
