.nav-item:hover{
  background-color: #0d6efd;
}

#adfluence-ai-logo {
  animation: textColor 10s ease infinite;
}

#adfluence-ai-logo:hover{
  cursor: pointer;
}


@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.b-example-divider {
  width: 0.5px;
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em gray , inset 0 .125em .5em;
}

.b-example-vr {
  flex-shrink: 0;
  height: 95vh;
}

