<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="home" viewBox="0 0 16 16">
    <path
      d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"
    />
  </symbol>
  <symbol id="table" viewBox="0 0 16 16">
    <path
      d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"
    />
  </symbol>
  <symbol id="people-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
    <path
      fill-rule="evenodd"
      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
    />
  </symbol>
  <symbol id="grid" viewBox="0 0 16 16">
    <path
      d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"
    />
  </symbol>
  <symbol id="document-paper" viewBox="0 0 16 16">
    <path d="M12 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM4 0a4 4 0 0 0-4 4v10a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4z" />
    <path d="M6 1h4v4H6V1z" />
  </symbol>
  <symbol id="lock" viewBox="0 0 16 16">
    <path d="M8 1a5 5 0 0 0-4.995 5.559L3 6v5a5 5 0 0 0 9.995.1L13 11v-5a5 5 0 0 0-5-5zm1 8a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-1-7a2 2 0 1 1 0 4 2 2 0 0 1 0-4z" />
  </symbol>

</svg>
<div class="d-flex">
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span id="adfluence-ai-logo">adfluence AI</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/" class="nav-link text-white text-left" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#home" />
        </svg>
        <div class="adfluence-link">Home</div>
      </a>
    </li>
    <li *ngIf="loggedIn" class="nav-item">
      <a href="#" class="nav-link text-white text-left">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        <div class="adfluence-link">Profile</div>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/terms-of-service" class="nav-link text-white text-left">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#document-paper" />
        </svg>
        <div class="adfluence-link">Terms of Service</div>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/privacy" class="nav-link text-white text-left">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#lock" />
        </svg>
        <div class="adfluence-link">Privacy Policy</div>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-white text-left">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#grid" />
        </svg>
        <div class="adfluence-link">About Us</div>
      </a>
    </li>
  </ul>

  <hr />
  <div class="auth-group">
    <button *ngIf="!loggedIn" type="button" class="btn btn-outline-secondary auth-btn" routerLink="/login">Login</button>
    <button *ngIf="loggedIn" type="button" class="btn btn-outline-secondary auth-btn" (click)="signOut()">Sign Out</button>
  </div>
  <app-footer></app-footer>
  
</div>
<div class="b-example-divider b-example-vr"></div>
</div>