<main class="px-3 landing-content">
  <div class="container-manual">
    <div class="sidebar">
      <h2>Previous Chats</h2>
      <ul id="chatList">
        <li data-chat="Chat 1"></li>
      </ul>
    </div>
    <div class="chat">
      <div class="chat-header">`Use Start button below to speak with the AI`</div>
      <div class="chat-messages" id="chatMessages">
        <div *ngFor="let messages of listOfMessages">
          <div class="user-message" *ngIf="messages.user">
            {{ messages.user }}
          </div>
          <div class="other-message" *ngIf="messages.ai">{{ messages.ai }}</div>
        </div>
      </div>
      <div class="record-buttons-container">
        <button style="margin: 10px" type="button" class="btn btn-outline-primary start-button" (click)="startService()">Start</button>
        <button style="margin: 10px" type="button" class="btn btn-outline-danger" (click)="stopService()">Stop</button>
      </div>
    </div>
  </div>
</main>
