<!-- terms-of-service.component.html -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Terms of Service</h2>

      <p>
        By accessing and using the Adfluence AI platform, you agree to comply
        with and be bound by the following terms and conditions. Please read
        these terms carefully before using our services.
      </p>

      <h4>Prohibited Conduct</h4>
      <p>
        Users of Adfluence AI are prohibited from engaging in the following
        activities:
      </p>

      <ul>
        <li>Asking illegal questions</li>
        <li>
          Making antisemitic comments or engaging in any form of hate speech
        </li>
        <li>Any other activity that violates applicable laws or regulations</li>
      </ul>
      <p></p>

      <h4>Account Termination</h4>
      <p>
        Adfluence AI reserves the right to terminate accounts of users who
        violate our terms of service. Account termination may result from, but
        is not limited to, engaging in prohibited conduct mentioned above.
      </p>

      <h4>Disclaimer of Liability</h4>
      <p>
        Adfluence AI is not liable for any damages or losses resulting from the
        use of our platform. We provide our services "as is" without any
        warranty.
      </p>

      <h4>Changes to Terms</h4>
      <p>
        Adfluence AI may update these terms of service from time to time. Any
        changes will be posted on this page, and it is your responsibility to
        review the terms periodically.
      </p>

      <h4>Contact Us</h4>
      <p>
        If you have any questions or concerns about our terms of service, please
        contact us at
        <a href="mailto:jmorin799@gmail.com">jmorin799@gmail.com</a>.
      </p>
    </div>
  </div>
</div>
